:root {
  color-scheme: dark;
  --is-dark-theme: true;
  accent-color: #8bd5ca;
  --color-primary: #8bd5ca;
  --color-primary-contrast: #181926;
  --color-primary-dark-1: #80d1c5;
  --color-primary-dark-2: #75cdc0;
  --color-primary-dark-3: #69c9bb;
  --color-primary-dark-4: #5ec5b5;
  --color-primary-dark-5: #53c1b0;
  --color-primary-dark-6: #48bdab;
  --color-primary-dark-7: #41b4a3;
  --color-primary-light-1: #96d9cf;
  --color-primary-light-2: #a1ddd4;
  --color-primary-light-3: #ade1d9;
  --color-primary-light-4: #b8e5df;
  --color-primary-light-5: #c3e9e4;
  --color-primary-light-6: #ceede9;
  --color-primary-light-7: #daf1ee;
  --color-primary-alpha-10: rgba(139, 213, 202, 0.1);
  --color-primary-alpha-20: rgba(139, 213, 202, 0.2);
  --color-primary-alpha-30: rgba(139, 213, 202, 0.3);
  --color-primary-alpha-40: rgba(139, 213, 202, 0.4);
  --color-primary-alpha-50: rgba(139, 213, 202, 0.5);
  --color-primary-alpha-60: rgba(139, 213, 202, 0.6);
  --color-primary-alpha-70: rgba(139, 213, 202, 0.7);
  --color-primary-alpha-80: rgba(139, 213, 202, 0.8);
  --color-primary-alpha-90: rgba(139, 213, 202, 0.9);
  --color-secondary: #494d64;
  --color-secondary-dark-1: #3c4158;
  --color-secondary-dark-2: #424761;
  --color-secondary-dark-3: #494e6a;
  --color-secondary-dark-4: #4f5573;
  --color-secondary-dark-5: #555b7c;
  --color-secondary-dark-6: #5b6286;
  --color-secondary-dark-7: #61698f;
  --color-secondary-dark-8: #686f98;
  --color-secondary-dark-9: #71789e;
  --color-secondary-dark-10: #7a81a4;
  --color-secondary-dark-11: #8389aa;
  --color-secondary-dark-12: #8c92b0;
  --color-secondary-dark-13: #959bb7;
  --color-secondary-light-1: #303346;
  --color-secondary-light-2: #2a2d3d;
  --color-secondary-light-3: #232634;
  --color-secondary-light-4: #1d1f2b;
  --color-secondary-alpha-10: rgba(54, 58, 79, 0.1);
  --color-secondary-alpha-20: rgba(54, 58, 79, 0.2);
  --color-secondary-alpha-30: rgba(54, 58, 79, 0.3);
  --color-secondary-alpha-40: rgba(54, 58, 79, 0.4);
  --color-secondary-alpha-50: rgba(54, 58, 79, 0.5);
  --color-secondary-alpha-60: rgba(54, 58, 79, 0.6);
  --color-secondary-alpha-70: rgba(54, 58, 79, 0.7);
  --color-secondary-alpha-80: rgba(54, 58, 79, 0.8);
  --color-secondary-alpha-90: rgba(54, 58, 79, 0.9);
  /* colors */
  --color-red: #ed8796;
  --color-orange: #f5a97f;
  --color-yellow: #eed49f;
  --color-olive: #a6da95;
  --color-green: #a6da95;
  --color-teal: #8bd5ca;
  --color-blue: #8aadf4;
  --color-violet: #b7bdf8;
  --color-purple: #c6a0f6;
  --color-pink: #f5bde6;
  --color-brown: #f0c6c6;
  --color-grey: #939ab7;
  --color-black: #1e2030;
  /* light variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-light: #e65b6f;
  --color-orange-light: #f18950;
  --color-yellow-light: #e6c174;
  --color-olive-light: #86cd6f;
  --color-green-light: #86cd6f;
  --color-teal-light: #66c7b9;
  --color-blue-light: #5b8cf0;
  --color-violet-light: #8992f3;
  --color-purple-light: #aa71f2;
  --color-pink-light: #ee91d5;
  --color-brown-light: #e59e9e;
  --color-grey-light: #747da3;
  --color-black-light: #0a0b11;
  /* other colors */
  --color-gold: #f4dbd6;
  --color-white: #cad3f5;
  --color-diff-removed-word-bg: rgba(237, 135, 150, 0.15);
  --color-diff-added-word-bg: rgba(166, 218, 149, 0.15);
  --color-diff-removed-row-bg: rgba(237, 135, 150, 0.07);
  --color-diff-moved-row-bg: rgba(238, 212, 159, 0.07);
  --color-diff-added-row-bg: rgba(166, 218, 149, 0.07);
  --color-diff-removed-row-border: rgba(237, 135, 150, 0.07);
  --color-diff-moved-row-border: rgba(238, 212, 159, 0.07);
  --color-diff-added-row-border: rgba(166, 218, 149, 0.07);
  --color-diff-inactive: #939ab7;
  --color-error-border: #ed8796;
  --color-error-bg: #ed8796;
  --color-error-bg-active: #ea7183;
  --color-error-bg-hover: #e65b6f;
  --color-error-text: #181926;
  --color-success-border: #86cd6f;
  --color-success-bg: #a6da95;
  --color-success-text: #181926;
  --color-warning-border: #e6c174;
  --color-warning-bg: #eed49f;
  --color-warning-text: #181926;
  --color-info-border: #5b8cf0;
  --color-info-bg: #181926;
  --color-info-text: #cad3f5;
  --color-red-badge: #e65b6f;
  --color-red-badge-bg: #181926;
  --color-red-badge-hover-bg: #ea7183;
  --color-green-badge: #a6da95;
  --color-green-badge-bg: #a6da95;
  --color-green-badge-hover-bg: #96d382;
  --color-yellow-badge: #eed49f;
  --color-yellow-badge-bg: #181926;
  --color-yellow-badge-hover-bg: #eaca89;
  --color-orange-badge: #f5a97f;
  --color-orange-badge-bg: #181926;
  --color-orange-badge-hover-bg: #f39967;
  --color-git: #f5a97f;
  /* target-based colors */
  --color-body: #181926;
  --color-box-header: #1e2030;
  --color-box-body: #1e2030;
  --color-box-body-highlight: #363a4f;
  --color-text-dark: #a5adcb;
  --color-text: #cad3f5;
  --color-text-light: #b8c0e0;
  --color-text-light-1: #b8c0e0;
  --color-text-light-2: #b8c0e0;
  --color-text-light-3: #b8c0e0;
  --color-footer: #1e2030;
  --color-timeline: #363a4f;
  --color-input-text: #cad3f5;
  --color-input-background: #363a4f;
  --color-input-toggle-background: #363a4f;
  --color-input-border: #494d64;
  --color-input-border-hover: #5b6078;
  --color-nav-bg: #1e2030;
  --color-nav-hover-bg: #363a4f;
  --color-navbar: #1e2030;
  --color-navbar-transparent: rgba(24, 25, 38, 0);
  --color-light: rgba(91, 96, 120, 0.3);
  --color-light-mimic-enabled: rgba(
    0,
    0,
    0,
    calc(40 / 255 * 222 / 255 / var(--opacity-disabled))
  );
  --color-light-border: #5b6078;
  --color-hover: rgba(110, 115, 141, 0.1);
  --color-active: rgba(202, 211, 245, 0.1);
  --color-menu: #363a4f;
  --color-card: #363a4f;
  --color-markup-table-row: rgba(202, 211, 245, 0.02);
  --color-markup-code-block: rgba(202, 211, 245, 0.05);
  --color-button: #363a4f;
  --color-code-bg: #24273a;
  --color-code-sidebar-bg: #363a4f;
  --color-shadow: rgba(24, 25, 38, 0.1);
  --color-secondary-bg: #363a4f;
  --color-text-focus: #cad3f5;
  --color-expand-button: #5b6078;
  --color-placeholder-text: #5b6078;
  --color-editor-line-highlight: var(--color-primary-light-5);
  --color-project-board-bg: var(--color-secondary-light-2);
  /* gitea source code: */
  /* should ideally be --color-text-dark, see go-gitea/gitea#15651 */
  --color-caret: var(--color-text);
  --color-reaction-bg: rgba(202, 211, 245, 0.07);
  --color-reaction-active-bg: var(--color-primary-alpha-40);
  --color-header-wrapper: #1e2030;
  --color-header-wrapper-transparent: rgba(30, 32, 48, 0);
  --color-label-text: #181926;
  --color-label-bg: #8bd5ca;
  --color-label-hover-bg: #75cdc0;
  --color-label-active-bg: #80d1c5;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-active-line: #494d64;
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label=copyright],
.emoji[aria-label=registered],
.emoji[aria-label="trade mark"],
.emoji[aria-label=multiply],
.emoji[aria-label=plus],
.emoji[aria-label=minus],
.emoji[aria-label=divide],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}

.ui.ui.ui.button:not(.inverted, .basic).primary, .ui.ui.ui.button:not(.inverted, .basic).green, .ui.ui.ui.button:not(.inverted, .basic).red, .ui.ui.ui.button:not(.inverted, .basic).teal,
.ui.ui.ui.label:not(.inverted, .basic).primary,
.ui.ui.ui.label:not(.inverted, .basic).green,
.ui.ui.ui.label:not(.inverted, .basic).red,
.ui.ui.ui.label:not(.inverted, .basic).teal {
  color: #181926;
}
.ui.ui.ui.button:not(.inverted, .basic).primary:hover, .ui.ui.ui.button:not(.inverted, .basic).green:hover, .ui.ui.ui.button:not(.inverted, .basic).red:hover, .ui.ui.ui.button:not(.inverted, .basic).teal:hover,
.ui.ui.ui.label:not(.inverted, .basic).primary:hover,
.ui.ui.ui.label:not(.inverted, .basic).green:hover,
.ui.ui.ui.label:not(.inverted, .basic).red:hover,
.ui.ui.ui.label:not(.inverted, .basic).teal:hover {
  color: #24273a;
}

.ui.basic.modal {
  background-color: #24273a;
}

.ui.commit-header-row .svg.gitea-lock ~ a {
  color: #181926;
}

.ui.sha.isSigned.isVerified .shortsha {
  color: #181926;
}
.ui.sha.isSigned.isVerified svg.gitea-lock {
  fill: #181926;
}

.ui.basic.modal,
.ui.basic.modal > .header,
.ui.inverted.button {
  color: #cad3f5 !important;
}

::selection {
  background: rgba(244, 219, 214, 0.3) !important;
}

/* NameBuiltinPseudo */
.chroma .bp {
  color: #f5a97f;
}

/* Comment */
.chroma .c {
  color: #6e738d;
}

/* CommentSingle */
.chroma .c1 {
  color: #6e738d;
}

/* CommentHashbang */
.chroma .ch {
  color: #6e738d;
}

/* CommentMultiline */
.chroma .cm {
  color: #6e738d;
}

/* CommentPreproc */
.chroma .cp {
  color: #8aadf4;
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #8aadf4;
}

/* CommentSpecial */
.chroma .cs {
  color: #6e738d;
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #8aadf4;
}

/* NameFunctionMagic */
/* Generic */
/* GenericDeleted */
.chroma .gd {
  color: #cad3f5;
  background-color: rgba(237, 135, 150, 0.15);
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericHeading */
.chroma .gh {
  color: #91d7e3;
}

/* GenericInserted */
.chroma .gi {
  color: #cad3f5;
  background-color: rgba(166, 218, 149, 0.15);
}

/* GenericUnderline */
/* GenericOutput */
.chroma .go {
  color: #f5a97f;
}

/* GenericPrompt */
.chroma .gp {
  color: #6e738d;
  font-weight: bold;
}

/* GenericError */
.chroma .gr {
  color: #ee99a0;
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}

/* GenericTraceback */
.chroma .gt {
  color: #ee99a0;
}

/* GenericSubheading */
.chroma .gu {
  color: #91d7e3;
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #f5a97f;
}

/* Keyword */
.chroma .k {
  color: #c6a0f6;
}

/* KeywordConstant */
.chroma .kc {
  color: #eed49f;
}

/* KeywordDeclaration */
.chroma .kd {
  color: #c6a0f6;
}

/* KeywordNamespace */
.chroma .kn {
  color: #eed49f;
}

/* KeywordPseudo */
.chroma .kp {
  color: #c6a0f6;
  font-weight: bold;
}

/* KeywordReserved */
.chroma .kr {
  color: #c6a0f6;
}

/* KeywordType */
.chroma .kt {
  color: #eed49f;
}

/* Literal */
/* LiteralDate */
/* LiteralNumber */
.chroma .m {
  color: #f5a97f;
}

/* LiteralNumberBin */
.chroma .mb {
  color: #f5a97f;
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #f5a97f;
}

/* LiteralNumberHex */
.chroma .mh {
  color: #f5a97f;
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #f5a97f;
}

/* LiteralNumberOct */
.chroma .mo {
  color: #f5a97f;
}

/* Name */
.chroma .n {
  color: #b7bdf8;
}

/* NameAttribute */
.chroma .na {
  color: #eed49f;
}

/* NameBuiltin */
.chroma .nb {
  color: #f5a97f;
}

/* NameClass */
.chroma .nc {
  color: #eed49f;
}

/* NameDecorator */
.chroma .nd {
  color: #f5bde6;
}

/* NameException */
.chroma .ne {
  color: #ee99a0;
}

/* NameFunction */
.chroma .nf {
  color: #8aadf4;
}

/* NameEntity */
.chroma .ni {
  color: #f5bde6;
}

/* NameLabel */
.chroma .nl {
  color: #eed49f;
}

/* NameNamespace */
.chroma .nn {
  color: #eed49f;
}

/* NameConstant */
.chroma .no {
  color: #eed49f;
}

/* NameTag */
.chroma .nt {
  color: #c6a0f6;
}

/* NameVariable */
.chroma .nv {
  color: #f5a97f;
}

/* NameOther */
.chroma .nx {
  color: #f5a97f;
}

/* Operator */
.chroma .o {
  color: #91d7e3;
}

/* OperatorWord */
.chroma .ow {
  color: #91d7e3;
  font-weight: bold;
}

/* Punctuation */
.chroma .p {
  color: #939ab7;
}

/* NameProperty */
/* LiteralString */
.chroma .s {
  color: #a6da95;
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #a6da95;
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #a6da95;
}

/* LiteralStringAffix */
.chroma .sa {
  color: #a6da95;
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #a6da95;
}

/* LiteralStringChar */
.chroma .sc {
  color: #a6da95;
}

/* LiteralStringDoc */
.chroma .sd {
  color: #a6da95;
}

/* LiteralStringEscape */
.chroma .se {
  color: #8aadf4;
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #a6da95;
}

/* LiteralStringInterpol */
.chroma .si {
  color: #a6da95;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #8aadf4;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #a6da95;
}

/* LiteralStringOther */
.chroma .sx {
  color: #a6da95;
}

/* NameVariableClass */
.chroma .vc {
  color: #eed49f;
}

/* NameVariableGlobal */
.chroma .vg {
  color: #f5a97f;
}

/* NameVariableInstance */
.chroma .vi {
  color: #eed49f;
}

/* NameVariableMagic */
/* TextWhitespace */
.chroma .w {
  color: #363a4f;
}

.CodeMirror .cm-property,
.CodeMirror.cm-s-default .cm-property,
.CodeMirror.cm-s-paper .cm-property {
  color: #cad3f5;
}
.CodeMirror .cm-header,
.CodeMirror.cm-s-default .cm-header,
.CodeMirror.cm-s-paper .cm-header {
  color: #cad3f5;
}
.CodeMirror .cm-quote,
.CodeMirror.cm-s-default .cm-quote,
.CodeMirror.cm-s-paper .cm-quote {
  color: #a6da95;
}
.CodeMirror .cm-keyword,
.CodeMirror.cm-s-default .cm-keyword,
.CodeMirror.cm-s-paper .cm-keyword {
  color: #c6a0f6;
}
.CodeMirror .cm-atom,
.CodeMirror.cm-s-default .cm-atom,
.CodeMirror.cm-s-paper .cm-atom {
  color: #ed8796;
}
.CodeMirror .cm-number,
.CodeMirror.cm-s-default .cm-number,
.CodeMirror.cm-s-paper .cm-number {
  color: #f5a97f;
}
.CodeMirror .cm-def,
.CodeMirror.cm-s-default .cm-def,
.CodeMirror.cm-s-paper .cm-def {
  color: #cad3f5;
}
.CodeMirror .cm-variable-2,
.CodeMirror.cm-s-default .cm-variable-2,
.CodeMirror.cm-s-paper .cm-variable-2 {
  color: #91d7e3;
}
.CodeMirror .cm-variable-3,
.CodeMirror.cm-s-default .cm-variable-3,
.CodeMirror.cm-s-paper .cm-variable-3 {
  color: #8bd5ca;
}
.CodeMirror .cm-comment,
.CodeMirror.cm-s-default .cm-comment,
.CodeMirror.cm-s-paper .cm-comment {
  color: #5b6078;
}
.CodeMirror .cm-string,
.CodeMirror.cm-s-default .cm-string,
.CodeMirror.cm-s-paper .cm-string {
  color: #a6da95;
}
.CodeMirror .cm-string-2,
.CodeMirror.cm-s-default .cm-string-2,
.CodeMirror.cm-s-paper .cm-string-2 {
  color: #a6da95;
}
.CodeMirror .cm-meta,
.CodeMirror.cm-s-default .cm-meta,
.CodeMirror.cm-s-paper .cm-meta {
  color: #f5a97f;
}
.CodeMirror .cm-qualifier,
.CodeMirror.cm-s-default .cm-qualifier,
.CodeMirror.cm-s-paper .cm-qualifier {
  color: #f5a97f;
}
.CodeMirror .cm-builtin,
.CodeMirror.cm-s-default .cm-builtin,
.CodeMirror.cm-s-paper .cm-builtin {
  color: #f5a97f;
}
.CodeMirror .cm-bracket,
.CodeMirror.cm-s-default .cm-bracket,
.CodeMirror.cm-s-paper .cm-bracket {
  color: #cad3f5;
}
.CodeMirror .cm-tag,
.CodeMirror.cm-s-default .cm-tag,
.CodeMirror.cm-s-paper .cm-tag {
  color: #eed49f;
}
.CodeMirror .cm-attribute,
.CodeMirror.cm-s-default .cm-attribute,
.CodeMirror.cm-s-paper .cm-attribute {
  color: #eed49f;
}
.CodeMirror .cm-hr,
.CodeMirror.cm-s-default .cm-hr,
.CodeMirror.cm-s-paper .cm-hr {
  color: #939ab7;
}
.CodeMirror .cm-url,
.CodeMirror.cm-s-default .cm-url,
.CodeMirror.cm-s-paper .cm-url {
  color: #8aadf4;
}
.CodeMirror .cm-link,
.CodeMirror.cm-s-default .cm-link,
.CodeMirror.cm-s-paper .cm-link {
  color: #8aadf4;
}
.CodeMirror .cm-error,
.CodeMirror.cm-s-default .cm-error,
.CodeMirror.cm-s-paper .cm-error {
  color: #ed8796;
}

.monaco-editor .selected-text {
  background-color: #363a4f !important;
}
.monaco-editor .margin-view-overlays .line-numbers {
  color: #a5adcb !important;
}
.monaco-editor .line-numbers.active-line-number {
  color: #8bd5ca !important;
}
.monaco-editor .view-overlays .current-line,
.monaco-editor .margin-view-overlays .current-line-margin {
  background-color: #303347 !important;
}
.monaco-editor .mtk1 {
  color: #cad3f5 !important;
}
.monaco-editor .mtk2 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk3 {
  color: #f5a97f !important;
}
.monaco-editor .mtk4 {
  color: #8bd5ca !important;
}
.monaco-editor .mtk5 {
  color: #cad3f5 !important;
}
.monaco-editor .mtk6 {
  color: #c6a0f6 !important;
}
.monaco-editor .mtk7 {
  color: #f5a97f !important;
}
.monaco-editor .mtk8 {
  color: #939ab7 !important;
}
.monaco-editor .mtk9 {
  color: #c6a0f6 !important;
}
.monaco-editor .mtk10 {
  color: #a5adcb !important;
}
.monaco-editor .mtk11 {
  color: #8bd5ca !important;
}
.monaco-editor .mtk12 {
  color: #8bd5ca !important;
}
.monaco-editor .mtk13 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk14 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk15 {
  color: #c6a0f6 !important;
}
.monaco-editor .mtk16 {
  color: #939ab7 !important;
}
.monaco-editor .mtk17 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk18 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk19 {
  color: #8bd5ca !important;
}
.monaco-editor .mtk20 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk21 {
  color: #a6da95 !important;
}
.monaco-editor .mtk22 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk23 {
  color: #8aadf4 !important;
}
.monaco-editor .mtk24 {
  color: #f5a97f !important;
}
.monaco-editor .mtk25 {
  color: #f5bde6 !important;
}
.monaco-editor .bracket-highlighting-0 {
  color: #dfa5bc !important;
}
.monaco-editor .bracket-highlighting-1 {
  color: #e4baae !important;
}
.monaco-editor .bracket-highlighting-2 {
  color: #e0d4c1 !important;
}
.monaco-editor .bracket-highlighting-3 {
  color: #b4d7bb !important;
}
.monaco-editor .bracket-highlighting-4 {
  color: #a4bcf4 !important;
}
.monaco-editor .bracket-highlighting-5 {
  color: #c8b4f6 !important;
}