:root {
  color-scheme: dark;
  --is-dark-theme: true;
  accent-color: #f4b8e4;
  --color-primary: #f4b8e4;
  --color-primary-contrast: #232634;
  --color-primary-dark-1: #f2abdf;
  --color-primary-dark-2: #f09eda;
  --color-primary-dark-3: #ee90d5;
  --color-primary-dark-4: #ec83d0;
  --color-primary-dark-5: #ea76cb;
  --color-primary-dark-6: #e869c6;
  --color-primary-dark-7: #e65bc1;
  --color-primary-light-1: #f6c5e9;
  --color-primary-light-2: #f8d2ee;
  --color-primary-light-3: #fae0f3;
  --color-primary-light-4: #fcedf8;
  --color-primary-light-5: #fefafd;
  --color-primary-light-6: white;
  --color-primary-light-7: white;
  --color-primary-alpha-10: rgba(244, 184, 228, 0.1);
  --color-primary-alpha-20: rgba(244, 184, 228, 0.2);
  --color-primary-alpha-30: rgba(244, 184, 228, 0.3);
  --color-primary-alpha-40: rgba(244, 184, 228, 0.4);
  --color-primary-alpha-50: rgba(244, 184, 228, 0.5);
  --color-primary-alpha-60: rgba(244, 184, 228, 0.6);
  --color-primary-alpha-70: rgba(244, 184, 228, 0.7);
  --color-primary-alpha-80: rgba(244, 184, 228, 0.8);
  --color-primary-alpha-90: rgba(244, 184, 228, 0.9);
  --color-secondary: #51576d;
  --color-secondary-dark-1: #474c62;
  --color-secondary-dark-2: #4e536b;
  --color-secondary-dark-3: #545a74;
  --color-secondary-dark-4: #5b607c;
  --color-secondary-dark-5: #616785;
  --color-secondary-dark-6: #686e8e;
  --color-secondary-dark-7: #6f7696;
  --color-secondary-dark-8: #787e9c;
  --color-secondary-dark-9: #8187a3;
  --color-secondary-dark-10: #8a8fa9;
  --color-secondary-dark-11: #9397b0;
  --color-secondary-dark-12: #9ba0b6;
  --color-secondary-dark-13: #a4a8bd;
  --color-secondary-light-1: #3b3e50;
  --color-secondary-light-2: #343747;
  --color-secondary-light-3: #2e303e;
  --color-secondary-light-4: #272a36;
  --color-secondary-alpha-10: rgba(65, 69, 89, 0.1);
  --color-secondary-alpha-20: rgba(65, 69, 89, 0.2);
  --color-secondary-alpha-30: rgba(65, 69, 89, 0.3);
  --color-secondary-alpha-40: rgba(65, 69, 89, 0.4);
  --color-secondary-alpha-50: rgba(65, 69, 89, 0.5);
  --color-secondary-alpha-60: rgba(65, 69, 89, 0.6);
  --color-secondary-alpha-70: rgba(65, 69, 89, 0.7);
  --color-secondary-alpha-80: rgba(65, 69, 89, 0.8);
  --color-secondary-alpha-90: rgba(65, 69, 89, 0.9);
  /* colors */
  --color-red: #e78284;
  --color-orange: #ef9f76;
  --color-yellow: #e5c890;
  --color-olive: #a6d189;
  --color-green: #a6d189;
  --color-teal: #81c8be;
  --color-blue: #8caaee;
  --color-violet: #babbf1;
  --color-purple: #ca9ee6;
  --color-pink: #f4b8e4;
  --color-brown: #eebebe;
  --color-grey: #949cbb;
  --color-black: #292c3c;
  /* light variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-light: #df575a;
  --color-orange-light: #ea7f48;
  --color-yellow-light: #dbb467;
  --color-olive-light: #8ac364;
  --color-green-light: #8ac364;
  --color-teal-light: #5db9ac;
  --color-blue-light: #6089e7;
  --color-violet-light: #9091e8;
  --color-purple-light: #b475dc;
  --color-pink-light: #ed8cd3;
  --color-brown-light: #e39696;
  --color-grey-light: #757fa7;
  --color-black-light: #14161e;
  /* other colors */
  --color-gold: #f2d5cf;
  --color-white: #c6d0f5;
  --color-diff-removed-word-bg: rgba(231, 130, 132, 0.15);
  --color-diff-added-word-bg: rgba(166, 209, 137, 0.15);
  --color-diff-removed-row-bg: rgba(231, 130, 132, 0.07);
  --color-diff-moved-row-bg: rgba(229, 200, 144, 0.07);
  --color-diff-added-row-bg: rgba(166, 209, 137, 0.07);
  --color-diff-removed-row-border: rgba(231, 130, 132, 0.07);
  --color-diff-moved-row-border: rgba(229, 200, 144, 0.07);
  --color-diff-added-row-border: rgba(166, 209, 137, 0.07);
  --color-diff-inactive: #949cbb;
  --color-error-border: #e78284;
  --color-error-bg: #e78284;
  --color-error-bg-active: #e36d6f;
  --color-error-bg-hover: #df575a;
  --color-error-text: #232634;
  --color-success-border: #8ac364;
  --color-success-bg: #a6d189;
  --color-success-text: #232634;
  --color-warning-border: #dbb467;
  --color-warning-bg: #e5c890;
  --color-warning-text: #232634;
  --color-info-border: #6089e7;
  --color-info-bg: #232634;
  --color-info-text: #c6d0f5;
  --color-red-badge: #df575a;
  --color-red-badge-bg: #232634;
  --color-red-badge-hover-bg: #e36d6f;
  --color-green-badge: #a6d189;
  --color-green-badge-bg: #a6d189;
  --color-green-badge-hover-bg: #98ca77;
  --color-yellow-badge: #e5c890;
  --color-yellow-badge-bg: #232634;
  --color-yellow-badge-hover-bg: #e0be7b;
  --color-orange-badge: #ef9f76;
  --color-orange-badge-bg: #232634;
  --color-orange-badge-hover-bg: #ec8f5f;
  --color-git: #ef9f76;
  /* target-based colors */
  --color-body: #232634;
  --color-box-header: #292c3c;
  --color-box-body: #292c3c;
  --color-box-body-highlight: #414559;
  --color-text-dark: #a5adce;
  --color-text: #c6d0f5;
  --color-text-light: #b5bfe2;
  --color-text-light-1: #b5bfe2;
  --color-text-light-2: #b5bfe2;
  --color-text-light-3: #b5bfe2;
  --color-footer: #292c3c;
  --color-timeline: #414559;
  --color-input-text: #c6d0f5;
  --color-input-background: #414559;
  --color-input-toggle-background: #414559;
  --color-input-border: #51576d;
  --color-input-border-hover: #626880;
  --color-nav-bg: #292c3c;
  --color-nav-hover-bg: #414559;
  --color-navbar: #292c3c;
  --color-navbar-transparent: rgba(35, 38, 52, 0);
  --color-light: rgba(98, 104, 128, 0.3);
  --color-light-mimic-enabled: rgba(
    0,
    0,
    0,
    calc(40 / 255 * 222 / 255 / var(--opacity-disabled))
  );
  --color-light-border: #626880;
  --color-hover: rgba(115, 121, 148, 0.1);
  --color-active: rgba(198, 208, 245, 0.1);
  --color-menu: #414559;
  --color-card: #414559;
  --color-markup-table-row: rgba(198, 208, 245, 0.02);
  --color-markup-code-block: rgba(198, 208, 245, 0.05);
  --color-button: #414559;
  --color-code-bg: #303446;
  --color-code-sidebar-bg: #414559;
  --color-shadow: rgba(35, 38, 52, 0.1);
  --color-secondary-bg: #414559;
  --color-text-focus: #c6d0f5;
  --color-expand-button: #626880;
  --color-placeholder-text: #626880;
  --color-editor-line-highlight: var(--color-primary-light-5);
  --color-project-board-bg: var(--color-secondary-light-2);
  /* gitea source code: */
  /* should ideally be --color-text-dark, see go-gitea/gitea#15651 */
  --color-caret: var(--color-text);
  --color-reaction-bg: rgba(198, 208, 245, 0.07);
  --color-reaction-active-bg: var(--color-primary-alpha-40);
  --color-header-wrapper: #292c3c;
  --color-header-wrapper-transparent: rgba(41, 44, 60, 0);
  --color-label-text: #232634;
  --color-label-bg: #f4b8e4;
  --color-label-hover-bg: #f09eda;
  --color-label-active-bg: #f2abdf;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-active-line: #51576d;
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label=copyright],
.emoji[aria-label=registered],
.emoji[aria-label="trade mark"],
.emoji[aria-label=multiply],
.emoji[aria-label=plus],
.emoji[aria-label=minus],
.emoji[aria-label=divide],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}

.ui.ui.ui.button:not(.inverted, .basic).primary, .ui.ui.ui.button:not(.inverted, .basic).green, .ui.ui.ui.button:not(.inverted, .basic).red, .ui.ui.ui.button:not(.inverted, .basic).teal,
.ui.ui.ui.label:not(.inverted, .basic).primary,
.ui.ui.ui.label:not(.inverted, .basic).green,
.ui.ui.ui.label:not(.inverted, .basic).red,
.ui.ui.ui.label:not(.inverted, .basic).teal {
  color: #232634;
}
.ui.ui.ui.button:not(.inverted, .basic).primary:hover, .ui.ui.ui.button:not(.inverted, .basic).green:hover, .ui.ui.ui.button:not(.inverted, .basic).red:hover, .ui.ui.ui.button:not(.inverted, .basic).teal:hover,
.ui.ui.ui.label:not(.inverted, .basic).primary:hover,
.ui.ui.ui.label:not(.inverted, .basic).green:hover,
.ui.ui.ui.label:not(.inverted, .basic).red:hover,
.ui.ui.ui.label:not(.inverted, .basic).teal:hover {
  color: #303446;
}

.ui.basic.modal {
  background-color: #303446;
}

.ui.commit-header-row .svg.gitea-lock ~ a {
  color: #232634;
}

.ui.sha.isSigned.isVerified .shortsha {
  color: #232634;
}
.ui.sha.isSigned.isVerified svg.gitea-lock {
  fill: #232634;
}

.ui.basic.modal,
.ui.basic.modal > .header,
.ui.inverted.button {
  color: #c6d0f5 !important;
}

::selection {
  background: rgba(242, 213, 207, 0.3) !important;
}

/* NameBuiltinPseudo */
.chroma .bp {
  color: #ef9f76;
}

/* Comment */
.chroma .c {
  color: #737994;
}

/* CommentSingle */
.chroma .c1 {
  color: #737994;
}

/* CommentHashbang */
.chroma .ch {
  color: #737994;
}

/* CommentMultiline */
.chroma .cm {
  color: #737994;
}

/* CommentPreproc */
.chroma .cp {
  color: #8caaee;
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #8caaee;
}

/* CommentSpecial */
.chroma .cs {
  color: #737994;
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #8caaee;
}

/* NameFunctionMagic */
/* Generic */
/* GenericDeleted */
.chroma .gd {
  color: #c6d0f5;
  background-color: rgba(231, 130, 132, 0.15);
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericHeading */
.chroma .gh {
  color: #99d1db;
}

/* GenericInserted */
.chroma .gi {
  color: #c6d0f5;
  background-color: rgba(166, 209, 137, 0.15);
}

/* GenericUnderline */
/* GenericOutput */
.chroma .go {
  color: #ef9f76;
}

/* GenericPrompt */
.chroma .gp {
  color: #737994;
  font-weight: bold;
}

/* GenericError */
.chroma .gr {
  color: #ea999c;
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}

/* GenericTraceback */
.chroma .gt {
  color: #ea999c;
}

/* GenericSubheading */
.chroma .gu {
  color: #99d1db;
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #ef9f76;
}

/* Keyword */
.chroma .k {
  color: #ca9ee6;
}

/* KeywordConstant */
.chroma .kc {
  color: #e5c890;
}

/* KeywordDeclaration */
.chroma .kd {
  color: #ca9ee6;
}

/* KeywordNamespace */
.chroma .kn {
  color: #e5c890;
}

/* KeywordPseudo */
.chroma .kp {
  color: #ca9ee6;
  font-weight: bold;
}

/* KeywordReserved */
.chroma .kr {
  color: #ca9ee6;
}

/* KeywordType */
.chroma .kt {
  color: #e5c890;
}

/* Literal */
/* LiteralDate */
/* LiteralNumber */
.chroma .m {
  color: #ef9f76;
}

/* LiteralNumberBin */
.chroma .mb {
  color: #ef9f76;
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #ef9f76;
}

/* LiteralNumberHex */
.chroma .mh {
  color: #ef9f76;
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #ef9f76;
}

/* LiteralNumberOct */
.chroma .mo {
  color: #ef9f76;
}

/* Name */
.chroma .n {
  color: #babbf1;
}

/* NameAttribute */
.chroma .na {
  color: #e5c890;
}

/* NameBuiltin */
.chroma .nb {
  color: #ef9f76;
}

/* NameClass */
.chroma .nc {
  color: #e5c890;
}

/* NameDecorator */
.chroma .nd {
  color: #f4b8e4;
}

/* NameException */
.chroma .ne {
  color: #ea999c;
}

/* NameFunction */
.chroma .nf {
  color: #8caaee;
}

/* NameEntity */
.chroma .ni {
  color: #f4b8e4;
}

/* NameLabel */
.chroma .nl {
  color: #e5c890;
}

/* NameNamespace */
.chroma .nn {
  color: #e5c890;
}

/* NameConstant */
.chroma .no {
  color: #e5c890;
}

/* NameTag */
.chroma .nt {
  color: #ca9ee6;
}

/* NameVariable */
.chroma .nv {
  color: #ef9f76;
}

/* NameOther */
.chroma .nx {
  color: #ef9f76;
}

/* Operator */
.chroma .o {
  color: #99d1db;
}

/* OperatorWord */
.chroma .ow {
  color: #99d1db;
  font-weight: bold;
}

/* Punctuation */
.chroma .p {
  color: #949cbb;
}

/* NameProperty */
/* LiteralString */
.chroma .s {
  color: #a6d189;
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #a6d189;
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #a6d189;
}

/* LiteralStringAffix */
.chroma .sa {
  color: #a6d189;
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #a6d189;
}

/* LiteralStringChar */
.chroma .sc {
  color: #a6d189;
}

/* LiteralStringDoc */
.chroma .sd {
  color: #a6d189;
}

/* LiteralStringEscape */
.chroma .se {
  color: #8caaee;
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #a6d189;
}

/* LiteralStringInterpol */
.chroma .si {
  color: #a6d189;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #8caaee;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #a6d189;
}

/* LiteralStringOther */
.chroma .sx {
  color: #a6d189;
}

/* NameVariableClass */
.chroma .vc {
  color: #e5c890;
}

/* NameVariableGlobal */
.chroma .vg {
  color: #ef9f76;
}

/* NameVariableInstance */
.chroma .vi {
  color: #e5c890;
}

/* NameVariableMagic */
/* TextWhitespace */
.chroma .w {
  color: #414559;
}

.CodeMirror .cm-property,
.CodeMirror.cm-s-default .cm-property,
.CodeMirror.cm-s-paper .cm-property {
  color: #c6d0f5;
}
.CodeMirror .cm-header,
.CodeMirror.cm-s-default .cm-header,
.CodeMirror.cm-s-paper .cm-header {
  color: #c6d0f5;
}
.CodeMirror .cm-quote,
.CodeMirror.cm-s-default .cm-quote,
.CodeMirror.cm-s-paper .cm-quote {
  color: #a6d189;
}
.CodeMirror .cm-keyword,
.CodeMirror.cm-s-default .cm-keyword,
.CodeMirror.cm-s-paper .cm-keyword {
  color: #ca9ee6;
}
.CodeMirror .cm-atom,
.CodeMirror.cm-s-default .cm-atom,
.CodeMirror.cm-s-paper .cm-atom {
  color: #e78284;
}
.CodeMirror .cm-number,
.CodeMirror.cm-s-default .cm-number,
.CodeMirror.cm-s-paper .cm-number {
  color: #ef9f76;
}
.CodeMirror .cm-def,
.CodeMirror.cm-s-default .cm-def,
.CodeMirror.cm-s-paper .cm-def {
  color: #c6d0f5;
}
.CodeMirror .cm-variable-2,
.CodeMirror.cm-s-default .cm-variable-2,
.CodeMirror.cm-s-paper .cm-variable-2 {
  color: #99d1db;
}
.CodeMirror .cm-variable-3,
.CodeMirror.cm-s-default .cm-variable-3,
.CodeMirror.cm-s-paper .cm-variable-3 {
  color: #81c8be;
}
.CodeMirror .cm-comment,
.CodeMirror.cm-s-default .cm-comment,
.CodeMirror.cm-s-paper .cm-comment {
  color: #626880;
}
.CodeMirror .cm-string,
.CodeMirror.cm-s-default .cm-string,
.CodeMirror.cm-s-paper .cm-string {
  color: #a6d189;
}
.CodeMirror .cm-string-2,
.CodeMirror.cm-s-default .cm-string-2,
.CodeMirror.cm-s-paper .cm-string-2 {
  color: #a6d189;
}
.CodeMirror .cm-meta,
.CodeMirror.cm-s-default .cm-meta,
.CodeMirror.cm-s-paper .cm-meta {
  color: #ef9f76;
}
.CodeMirror .cm-qualifier,
.CodeMirror.cm-s-default .cm-qualifier,
.CodeMirror.cm-s-paper .cm-qualifier {
  color: #ef9f76;
}
.CodeMirror .cm-builtin,
.CodeMirror.cm-s-default .cm-builtin,
.CodeMirror.cm-s-paper .cm-builtin {
  color: #ef9f76;
}
.CodeMirror .cm-bracket,
.CodeMirror.cm-s-default .cm-bracket,
.CodeMirror.cm-s-paper .cm-bracket {
  color: #c6d0f5;
}
.CodeMirror .cm-tag,
.CodeMirror.cm-s-default .cm-tag,
.CodeMirror.cm-s-paper .cm-tag {
  color: #e5c890;
}
.CodeMirror .cm-attribute,
.CodeMirror.cm-s-default .cm-attribute,
.CodeMirror.cm-s-paper .cm-attribute {
  color: #e5c890;
}
.CodeMirror .cm-hr,
.CodeMirror.cm-s-default .cm-hr,
.CodeMirror.cm-s-paper .cm-hr {
  color: #949cbb;
}
.CodeMirror .cm-url,
.CodeMirror.cm-s-default .cm-url,
.CodeMirror.cm-s-paper .cm-url {
  color: #8caaee;
}
.CodeMirror .cm-link,
.CodeMirror.cm-s-default .cm-link,
.CodeMirror.cm-s-paper .cm-link {
  color: #8caaee;
}
.CodeMirror .cm-error,
.CodeMirror.cm-s-default .cm-error,
.CodeMirror.cm-s-paper .cm-error {
  color: #e78284;
}

.monaco-editor .selected-text {
  background-color: #414559 !important;
}
.monaco-editor .margin-view-overlays .line-numbers {
  color: #a5adce !important;
}
.monaco-editor .line-numbers.active-line-number {
  color: #f4b8e4 !important;
}
.monaco-editor .view-overlays .current-line,
.monaco-editor .margin-view-overlays .current-line-margin {
  background-color: #3b3f52 !important;
}
.monaco-editor .mtk1 {
  color: #c6d0f5 !important;
}
.monaco-editor .mtk2 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk3 {
  color: #ef9f76 !important;
}
.monaco-editor .mtk4 {
  color: #81c8be !important;
}
.monaco-editor .mtk5 {
  color: #c6d0f5 !important;
}
.monaco-editor .mtk6 {
  color: #ca9ee6 !important;
}
.monaco-editor .mtk7 {
  color: #ef9f76 !important;
}
.monaco-editor .mtk8 {
  color: #949cbb !important;
}
.monaco-editor .mtk9 {
  color: #ca9ee6 !important;
}
.monaco-editor .mtk10 {
  color: #a5adce !important;
}
.monaco-editor .mtk11 {
  color: #81c8be !important;
}
.monaco-editor .mtk12 {
  color: #81c8be !important;
}
.monaco-editor .mtk13 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk14 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk15 {
  color: #ca9ee6 !important;
}
.monaco-editor .mtk16 {
  color: #949cbb !important;
}
.monaco-editor .mtk17 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk18 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk19 {
  color: #81c8be !important;
}
.monaco-editor .mtk20 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk21 {
  color: #a6d189 !important;
}
.monaco-editor .mtk22 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk23 {
  color: #8caaee !important;
}
.monaco-editor .mtk24 {
  color: #ef9f76 !important;
}
.monaco-editor .mtk25 {
  color: #f4b8e4 !important;
}
.monaco-editor .bracket-highlighting-0 {
  color: #daa1b1 !important;
}
.monaco-editor .bracket-highlighting-1 {
  color: #dfb3a9 !important;
}
.monaco-editor .bracket-highlighting-2 {
  color: #d9cbb8 !important;
}
.monaco-editor .bracket-highlighting-3 {
  color: #b3d1b4 !important;
}
.monaco-editor .bracket-highlighting-4 {
  color: #a3b9f1 !important;
}
.monaco-editor .bracket-highlighting-5 {
  color: #c8b2ec !important;
}